<template>
  <div
    class="card"
  >
    <img
      class="card__image"
      :src="catUrl"
      alt="Cat"
    >
    <LikeButton
      class="card__like"
    />
  </div>
</template>
<script>
import LikeButton from "./LikeButton";

export default {
  name: 'Card',
  props: {
    catUrl: {
      type: String,
      required: true,
    },
  },
  components: {
    LikeButton
  },
  data() {
    return {}
  },
  // methods: {
  //   getCard() {
  //     this.$emit('getCard');
  //   },
  // },
}
</script>
<style scoped lang="scss">
.card {
  position: relative;

  &:hover {
    transform: scale(1.3);
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
  }

  &:hover &__like {
    opacity: 1;
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    cursor: pointer;
  }

  &__like {
    position: absolute;
    right: 5%;
    bottom: 5%;
    opacity: 0;
    cursor: pointer;
  }
}
</style>
