<template>
  <section class="content">
    <div class="content__container">
      <div
        class="content__loading"
        v-if="isLoading"
      >
        <span>Подгружаем котиков...</span>
      </div>
      <div
        class="content__row"
        v-if="!isLoading"
      >
        <Card
          :class="[{ active: 'isActive' }, 'content__item']"
          v-for="cat in cats"
          :key="cat.id"
          :catUrl="cat.url"
          @getCard="setLikedCard(cat.id, cat.url)"
        />
      </div>
    </div>
  </section>
</template>
<script>
import CatsApiService from '~/services/Cats/CatsApiService';
import Card from './Card'
import LikeButton from "./LikeButton";

export default {
  name: 'Content',
  components: {
    Card
  },
  data() {
    return {
      isLoading: true,
      active: false,
      cats: [],
      catsApiService: new CatsApiService(this.$axios),
    }
  },
  methods: {
    setLikedCard(index, url) {
      let arr = JSON.parse(localStorage.getItem('likes')) || []
      if (!arr.some(i => i.url === url)) {

        arr.push({url: url})
        localStorage.setItem('likes', JSON.stringify(arr))
      } else {
        let d = arr.findIndex(el => el.url === url)
        arr.splice(d, 1)
        localStorage.setItem('likes', JSON.stringify(arr))
      }
    }
  },
  async mounted() {
    this.cats = await this.catsApiService.getCats()
    this.isLoading = false
  },
}
</script>
<style scoped lang="scss">
.content {
  padding: 5rem 0;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 225px);
    grid-gap: 4.8rem;
  }

  &__loading {
    font-family: 'opensans', sans-serif;
    font-size: 2rem;
  }
}
</style>
