<template>
  <header class="header">
    <div class="header__container">
      <ul class="header__list">
        <li
          class="header__item"
          v-for="(headerItem, index) in headerList"
          :key="index"

        >
          <NuxtLink
            class="header__link"
            :to="headerItem.url"
          >
            {{ headerItem.title }}
          </NuxtLink>
        </li>
      </ul>
    </div>
  </header>
</template>
<script>
export default {
  name: 'HeaderPage',
  data() {
    return {
      headerList: [
        {
          title: 'Все котики',
          url: '/',
        },
        {
          title: 'Любимые котики',
          url: '/favorites/favorites',
        }
      ]
    }
  },
  computed: {
    // activeLink(){
    //   return this.$route.path === this.headerList.url
    // }
  }
}
</script>
<style scoped lang="scss">
.header {
  background-color: #2196F3;

  &__container {
    display: flex;
  }

  &__list {
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__link {
    display: inline-block;
    padding: 2.3rem;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: 0.25px;
    color: rgba(255, 255, 255, 0.7);

    &:hover {
      background-color: #1E88E5;
      color: #ffffff;
    }
  }
}

.nuxt-link-exact-active {
  background-color: #1E88E5;
  color: #ffffff;
}
</style>
