<template>
  <img
    class="like"
    @click="getCard"
    :src='require(`../assets/images/${icon}`)'
    alt="like">
</template>
<script>
export default {
  name: 'LikeButton',
  data() {
    return {
      icon: 'like.svg'
    }
  },
  methods: {
    getCard() {
      this.$emit('getCard');
    },
  },
}
</script>
<style scoped lang="scss">
.like{



  &--active{
    display: none;
  }
}
</style>
