<template>
  <section class="favorites">
    <div class="favorites__container">
      <div class="favorites__row">
        <div
          class="favorites__item"
          v-for="item in storage"
        >
          <img
            class="favorites__image"
            :src="item.url"
            alt="favorite-img"
            @click="delLikeCats(item.url)"
          >
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'favoritePage',
  data() {
    return {
      storage: []
    }
  },
  methods: {
    delLikeCats(url){
      let d = this.storage.findIndex(el=>el.url===url)
      this.storage.splice(d,1)
      localStorage.setItem('likes', JSON.stringify(this.storage))
    }
  },
  mounted() {
    this.storage = JSON.parse(localStorage.getItem("likes") )
  },
}
</script>
<style scoped lang="scss">
.favorites {
  padding: 5rem 0;

  &__row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 225px);
    grid-gap: 4.8rem;
  }

  &__image {
      display: block;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
  }

  &__item{
    cursor: pointer;

    &:hover{
      transform: scale(1.3);
      box-shadow: 0 6px 5px rgba(0, 0, 0, 0.24), 0 9px 18px rgba(0, 0, 0, 0.18);
    }
  }
}
</style>
