<template>
  <div>
    <Header/>
    <main>
      <nuxt/>
    </main>
  </div>
</template>
<script>
import Header from '@/components/Header'
export default {
  name: 'default',
  components: {
    Header,
  },
}
</script>

